<a class="btn btn-info"  href="/">New Actor or Director</a>
<div></div>
<a class="btn btn-info"  href="/categories/new">New Category</a>
<div></div>
<a class="btn btn-info"  href="/categories">Category</a>