<a class="btn btn-info"  href="/persons/new">New Actor or Director</a>
<div></div>
<a class="btn btn-info"  href="/categories/new">New Category</a>
<div></div>
<a class="btn btn-info"  href="/categories">Category</a>
<div></div>
<a class="btn btn-info"  href="/actors">All actors</a>
<div></div>
<a class="btn btn-info"  href="/directors">All directors</a>
<div></div>
<a class="btn btn-info"  href="/persons/show">Actors and directors</a>
<div></div>